section {
  background-color: #88c1d0;
  height: 150px;
  width: 300px;
}
@media screen and (min-width: 1600px) {
  .container {
    display: flex;
    justify-content: space-between;
  }
  section {
    width: 23%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  section {
    width: 48%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    display: block;
  }
  section {
    width: 100%;
    margin-bottom: 20px;
  }
}